* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {


    section#playground {
        
        aspect-ratio: 1/1;
        height: 50vh;
        border: 1px solid;
        

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-columns: 50% 50%;

        div {
           
            border: 1px solid;
            aspect-ratio: 1/1;
            position: relative;
        }
    }
}


#mcq {
  
    /* margin: auto; */
    li {
        cursor:pointer;
    }
    li:hover{
        color: rgb(255, 55, 0);
    }
    
}
#hint-box { 
    height: 30px;
}